#player,#player a{ color:#FFFFFF;  font-size: 11px; font-family: Tahoma...;}
#player{ background:url; background-position:bottom; background-color: #FFFFFF;}
#player .mainImage{ background:url(https://i.postimg.cc/WpC3DsBM/lice.png); }

#player #baseLeft{ width:93px; }
#player #baseRight{ width:145px;}
#player .button{  width:26px; }
#player #play{ background:url( ); }
#player #play,#player #pause{ left:26px; }
#player #previous{ left:0px; }
#player #next{ left:52px; }
#player #title{ left:90px;  font-size: 9px; }
#player #tooltip{ right:196px; }
#player #timer{ right:120px;  }
#player #list{ right:0px; }

#player #seeker{ right:320px; }
#player #seekerBase{ border-color:##FFFFFF;  }
#player #seekerBuffered{ background-color:#FFFFFF; }
#player #seekerSliderBase{ background-color:#FFFFFF; }

#player #volume{ width:65px; right:39px; }
#player #volumeSlider{ width:8px; background:url(); }

#playlist,#playlist .module,#playlist h3{ border-color:#FFFFFF;}
#playlist .module{  color:#FFFFFF; background-color:#FFFFFF; }
#playlist h3{ background:url(http://static.tumblr.com/dupr2yj/WcOmscw7i/2assinatura.jpg); color:#696969; background-color:#FFFFFF;  }
#playlist .even{background-color:#fff;}
#playlist .odd{ background-color:#fff;}
#playlist .focus{ background-color:#fff; color:#aaa;}


-------------------------------------------------------------- SKIN FEITA POR: HABITAREI. SEM PLÁGIOS, PF.  ---------------------------------------------------------
